.tmp_hidden {
    display: none;
}

main {
    width: 100%;
    height: 100%;
}

section#landingpage {
    position: relative;
}

section#landingpage img#start {
    width: 100%;
    height: 100%;
}

section#landingpage .bullseye {
    position: absolute;
    width: 5em;
    height: 5em;
    z-index: 5;
    cursor: pointer;
    background-image: url(../img/bullseye.svg);
}

section#landingpage .bullseye:hover {
    background-image: url(../img/bullseye_hover.svg);
}

section#landingpage .bullseye:hover, section#landingpage .bullseye:focus {
    opacity: 0.75;
}

section#landingpage #bullseye_software {
    top: 20%;
    left: 10%;
}

section#landingpage #bullseye_hardware {
    top: 20%;
    left: 20%;
}

section#landingpage #bullseye_video {
    top: 20%;
    left: 30%;
}

section#landingpage #bullseye_probleme {
    top: 20%;
    left: 40%;
}

section#landingpage #bullseye_planung {
    top: 20%;
    left: 50%;
}

section#landingpage #bullseye_team {
    top: 20%;
    left: 60%;
}

section#landingpage #bullseye_downloads {
    top: 20%;
    left: 70%;
}

section.subpage {
    padding: 30px;
    background-color: #fff;
    margin-left: 20%;
    width: 60%;
}

section.subpage_js {
    position: absolute;
	top: 50px;
	border-radius: 10px;
	z-index: 10;
}

ul.software_list li a {
    color: darkgray;
}

ul.software_list li a:visited {
    color: lightgray;
}

ul.software_list li a:hover {
    color: #b3d4fc;
}
